body {
    font-family: 'Faustina', serif;
    box-sizing: border-box;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

header {
    font-family: 'Merienda', cursive;
    text-align:center;
    display: inline-flex;
    justify-content:space-evenly;
}

header h1 {
    display: flex;

}
nav {
    display: flex;
    align-items: center;
    
}

.navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;

}


.navigation-item {
    text-decoration: none;
    color: black;
    margin-left: 1.2rem;
}


h1 {
    font-size: 3.5rem;
}
#about {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 4fr 4fr 4fr;
    width: 80%;
    justify-content: center;
    position: relative;
    left: 10%;
}
#about_me {
    position: relative;
    padding-left: 25%; 
}

#about p {
    font-size: 1.5rem;
}

#fig1{
    grid-area: 1 / 2 / span 3 / span 1;
    justify-items: center;
}

#picture {
    width: 100%;
    /*justify-self: center;*/
}

#close{
    display: none;
    color: navy;
    z-index: 3;
}

#close:hover {
    cursor:pointer;
}

#skills {
    display: block;
    text-align: center;
    font-size: 2rem;
    width: 50%;
}

h2 {
    font-family: 'Merienda', cursive;
    font-size: 2rem;

}

.skills-container {
    display: flex;
    justify-content: space-evenly;
    padding-left: 12%;
}

#projects {
    padding: 0 13%;
    font-size: 1.5rem;
    width: 50%;
}


.project-item {
    text-decoration: none;
    color: black;
}
footer {
    position: relative;
    text-align: center;
    margin-top: 5rem;  
}

.contact {
    font-size: 1.5rem;
    text-align: center;
    align-content: center;
}

.contact-container {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    margin: 0 auto;
    font-size: 2rem;
}

.contact-container i {
    color:black;

}



@media only screen and (max-width:600px) {
    h1 {
        font-size: 1.5rem;
    }

    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: 1.2rem;
    }

    .navigation-items{
        display: block;
    }

    #about_me {
        text-align: center;
        padding: 0;
    }

    #about p, .contact {
        font-size: 1rem;
    }

    .project-item {
        font-size: 1rem;
    }

    #skills {
        width:100%;
    }

    #projects {
        width:100%;
        text-align:center;
        padding:0
    }

    #projects ul {
        list-style-type:none;
    }        
}