body {
    font-family: 'Faustina', serif;
    box-sizing: border-box;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    max-width:fit-content;
}

header {
    font-family: 'Merienda', cursive;
    text-align:center;
    display: inline-flex;
    justify-content:space-evenly;
}

header h1 {
    display: flex;

}
nav {
    display: flex;
    align-items: center;
    
}

.navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;

}


.navigation-item {
    text-decoration: none;
    color: black;
    margin-left: 1rem;
}


h1 {
    font-size: 3.5rem;
}
#about {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 4fr 4fr 4fr;
    width: 80%;
    justify-content: center;
    position: relative;
    border: 1px solid black;
    left: 10%;
}
#about_me {
    position: relative;
    padding-left: 25%;
    font-size: 2rem;   
}

#about p {
    font-size: 1.5rem;
}

.picture {
    max-width: 50%;
    grid-area: 1 / 2 / span 3 / span 1;
    justify-self: center;
}

#skills {
    display: block;
    text-align: center;
    font-size: 2rem;
    width: 50%;
}

h2 {
    font-family: 'Merienda', cursive;
    font-size: 2rem;

}

.skills-container {
    display: flex;
    justify-content: space-evenly;
    padding-left: 12%;
}

#projects {
    padding: 0 13%;
    font-size: 1.5rem;
    width: 50%;
}


.project-item {
    text-decoration: none;
    color: black;
}
footer {
    position: relative;
    text-align: center;
    font-size: 2rem;
    
}